@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

h1, h2, h3, h4, h5, h6 { font-family: 'Oswald'}
h1 { font-size: 1.9rem;}
h2 { font-size: 1.7rem}
h3 { font-size: 1.3rem}
h4 { font-size: 1.1rem}
h5 { font-size: 0.9rem}

body { background-color: #ffbd69; font-size: 1em}
main { padding: 0px 5%;}

html { font-size: 1em;}

.page-footer { background-color: #111d5e }

/*
textarea{  
  /* box-sizing: padding-box; 
  overflow:hidden;
}*/

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid #EE56A1;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #EE56A1;
}

a { color: #EE56A1;}
.btn:hover, .btn-large:hover, .btn-small:hover { background-color: #EE56A1;}

/****** header ******/
#topHead img { width: 66px; height: 45px; position: relative;}
nav { background-color: #111d5e; text-align: center; display: flex; justify-content: space-around; padding: 10px}
nav a { line-height: 2.7;}

.btn, .btn-large, .btn-small { background-color: #111d5e;}
.btn-width { width: 100%;}

::placeholder, label>span { color: #606060; opacity: 1; font-size: 1rem }

.initials { 
            background-color: #EE56A1; 
            color: #111d5e; 
            font-weight: bold; 
            font-size: 1em;
            padding: 2px;
            border-radius: 90px;
            width: 44px;
            height: 44px;
            line-height: 2.8;
        }
.initials:hover { background-color: F48FBB;}        
        
#headMenu { font-size: 3em; color: #F48FBB; cursor: pointer}
#contentMenu {  width: 100%; display: none; position: absolute; z-index: 999;}
nav i { line-height: normal!important;}

.collection a.collection-item {
        color: #EE56A1; 
        background-color: #111d5e;
        text-align: center;
        font-family: 'Oswald';
        font-size: 1.3em;
}
.collection { margin: 0px!important}

/*** STORY INDEX ***/
.rounded { border-radius: 40px; width: 50px; height: 50px; text-align: center; padding-top: 4px}
.rounded i { font-size: 1.6rem}
.addBigButton {  color: #111d5e; font-size: 1.4em;}
.titleLine { cursor: pointer ; color: #111d5e}
.titleLine:hover, .lineList:hover a { color: #EE56A1}


/***** FORM FICHE***/

.flex { display: flex; justify-content: space-around}
.blockInformation { position: absolute; z-index: 50; width: 90%; background-color: lightyellow; padding: 10px 20px; border-radius: 5px; display: none;}
#resumeButton { cursor: pointer;}
#themeList, #genreList { background-color: lightyellow; color: black; padding: 20px; border-radius: 5px; display: none;}
#themeTag, #genreTag, #personaTag, .listTag{ display: flex; flex-wrap: wrap;}
.tag { border-radius: 8px; background-color: #111d5e; color: #ffbd69; padding: 2px 6px; font-size: 0.8rem; margin: 2px;}
#sectionTheme, #sectionGenre { position: relative}
#themeList, #genreList{ position: absolute; z-index: 99;}
.iconRight { font-size: 1.4em; float: right; color: #111d5e; cursor: pointer;}

/**** FORM PERSONNAGE **/
#characterFormContent {padding: 20px; top:60px; left: 0px; background-color: white; position:absolute; z-index: 99; display: none}
.closeModal { color: #EE56A1; font-size: 3em; float: right ; cursor: pointer;}
.describeInformation { font-size: 0.8rem}

/****** LIST FICHE ****/
.lineList { display: flex; justify-content: space-between; padding: 10px 14px 4px 14px; border-bottom: 1px solid lightgray; border-radius: 10px}
.lineList:hover {background-color: #111d5e; color: white}

/******* SHOW STORY FICHE ***/
.listPersona .item {
  font-size: 1.3rem;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
}

.showInfoBelow i { font-size: 1rem}
.blockInformationPersona { position: absolute; z-index: 50; width: 94%; background-color: lightyellow; padding: 10px 10px; border-radius: 5px;}


/******* DEFINTION *******/
.definitionBlock { border: 2px solid #EE56A1; border-radius: 4px; padding: 8px; background-color: white; margin-bottom: 6px;}

.textSelected { margin: 10px 60px; padding: 10px; border: 1px solid #111d5e; border-radius: 10px}
.textSelectedInTextarea { background-color: #ffbd69;}
.textareaAnswerDefinition { min-height: 150px}
.btnSelectWordDefinition { float: left;cursor: pointer }
.submitFormDefinition {background-color: #EE56A1;float: right}
.deleteWdefinition { float: right; color: darkred; font-weight: bold; cursor: pointer;}


/***** SHOW DEFIN *****/
.basicInput { width: auto!important; border: none; border-bottom: 1px solid black!important; height: 2rem!important; font-size: 1.1rem!important; text-align: center!important;}
.keywordAnswerFull { color: darkblue!important; font-weight: bold!important;}
.badAnswer { color: red!important}
.goodAnswer { color: darkblue!important}
.textAnswer { width: 85%; text-align: justify;}